.title{
    margin-bottom: 25px;
    
    &__primary{
        letter-spacing: .4px;
        font-weight: 700;
        font-size: 1.8rem; //25px
        line-height: 1.8rem; //25px
        display: block;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 960px) {
    .title{
        &__primary{
            font-size: 22px;
            line-height: 26px;
        }
    }
}

@media (max-width: 599px) {
    .title{
        &__primary{
            font-size: 20px;
            line-height: 24px;
        }
    }
}